<% content_for :title, "logs.design" %>

<% if authenticated? %>
	<h1 class="site"><%= link_to "New entry", new_entry_path %>, <%= link_to "Sign out", session_path, data: { turbo_method: :delete } %></h1>
<% end %>

<div id="logs" data-controller="grid">
	<div class="card-sizer"></div>
	<% @entries.each do |entry| %>
		<%= render entry %>
		<%= turbo_frame_tag entry, src: entry_path(entry), loading: :lazy, turbo_frame: "_top" do %>
			Loading...
		<% end %>
	<% end %>
</div>
