@use "vars" as *;

/* Flair */

.flair {
	font-family: var(--font-secondary);
	font-size: 10px;
	text-transform: uppercase;
	align-items: center;
	padding: 4px 6px 3px 6px;
	border-radius: 6px;
	display: flex;
	gap: 4px;
	position: relative;
	&.default {
		color: $accent-secondary;
		border: 1px solid #EEEEEE;
		&.with-icon { padding-left: 24px; }
	}
	&.debut {
		color: #3B2D9E;
		background: #E9E1FF;
	}
	&.dev {
		color: #F04E43;
		background: #F3F2F0;
	}
	&.member {
		color: #41732A;
		Background: #D2E8C8;
	}
	&.op {
		color: #41732A;
		Background: #D2E8C8;
	}
}