<div id="<%= dom_id log %>" class="stack col gap-4 padding-24 border-right border-bottom">
  <p><%= link_to log.title, log.url, target: "_blank" %></p>
  <p><%= log.caption %></p>
  <p class="fg-tertiary"><%= log.category.name %></p>
</div>
