<p style="color: green"><%= notice %></p>

<% content_for :title, "Logs" %>

<h1>Logs, <%= link_to "New log", new_log_path %></h1>

<div id="logs" data-controller="grid">
  <% @logs.each do |log| %>
    <%= render log %>
  <% end %>
</div>
